@import "modern-normalize/modern-normalize.css";

:root {
  --color-light: #8c8c8c;
  --color-dark: #4c4c4c;
  --color-accent: #ff6b01;
}

* {
  /* outline: 1px solid red; */
}

body {
  font-family: "Lexend", sans-serif;

  /* background-color: #efd9c333; */
}

a {
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  margin: 0;

  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #ffd561 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  margin-top: 5px !important;
  margin-bottom: 5px !important;

  font-size: 24px !important;
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-content {
  color: white;
}

.colored-toast .swal2-html-container {
  margin-top: 5px !important;
  margin-bottom: 5px !important;

  font-weight: 500 !important;
  font-size: 20px !important;
  color: #2c2c2c;
}

.navLink {
  display: block;
  padding: 10px 0;
  color: var(--color-dark);
  font-weight: 700;
  text-transform: uppercase;

  transition: color 250ms ease-in-out;
}

.activeLink {
  position: relative;
  color: var(--color-accent);
}

.navLink:hover {
  color: var(--color-accent);
}

.activeLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--color-accent);
}

.infoLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 44px;

  border: 1px solid var(--color-dark);
  border-radius: 4px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #2c2c2c;
  background-color: transparent;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transition: color 250ms ease-in-out, border-color 250ms ease-in-out;
}

.infoLink:hover {
  color: var(--color-accent);
  border-color: var(--color-accent);
}

.infoLinkActive {
  border: none;
  color: #fff;
  background-color: var(--color-accent);
}

.infoLinkActive:hover {
  color: #fff;
}

.infoLink:not(:last-child) {
  margin-right: 20px;
}
